@use '../../styles/partials' as *;
@use '../../styles/colors' as *;

@use '../../styles/animations' as *;
.fadein{
    animation-name: fadein;
    animation-duration: 2s;
    &--mediumdelay{
        animation-name: fadein;
        animation-delay: 2s;
        animation-duration: 2s;

    }
    &--longdelay{
        animation-name: fadein;
        animation-delay: 4s;
        animation-duration: 2s;
    }
}