@use '../../styles/partials' as *;
@use '../../styles/colors' as *;


.project-frame{
    width:100%;
    height:100vh;
    border:none;
}
.tactics{
    background-color: $background;
    padding: $mobile-indent;
    @include tablet{
        padding: $tablet-indent;
    }
    @include desktop {
        padding: $tablet-indent;
    }
    &__image{
        width: 100%;
        &--spoiler{
            filter:blur(10px)
        }
    }
}
.spoiler{
    position: relative;
    &__image{
        width: 100%;
        &--filter{
            filter:blur(10px)
        }
    }
    &__label{
        color:black;
        position: absolute;
        text-align: center;
        top:45%;
        right:40%;
        margin: 0;
    }

}
.tactics__title{
    margin:0;
    color:$text;
    text-align: center;
}