@use '../../styles/partials' as *;
@use '../../styles/colors' as *;


.tactics{
    background-color: $background;
    padding: $mobile-indent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include tablet{
        padding: $tablet-indent;
    }
    @include desktop {
        padding: $tablet-indent $desktop-indent;
    }
    &__image{
        width: 100%;
        @include desktop{
            width: 60%;
           
        }
    }
}
.spoiler{
    position: relative;
    @include desktop{
        width: 60%;
    }
    &__image{
        width: 100%;
        
        &--filter{
            filter:blur(25px)
        }

    }
    &__label{
        color:black;
        position: absolute;
        text-align: center;
        top:45%;
        right:40%;
        margin: 0;
    }

}
.tactics__title{
    margin:0;
    color:$text;
    text-align: center;
}