@use '../styles/partials' as *;
@use '../styles/colors' as *;

.body{
    background-color: $background;
    &__section{
        padding: $mobile-indent;
        &--profile{
            display: flex;
            flex-direction: column;
        }
        &--foreground{
            background-color: $foreground;
        }
    }
    &__profileContent{
        color:white;
    }
}
.headshot{
    width:100%;
}