@use '../../styles/partials' as *;
@use '../../styles/colors' as *;
.sidebar{
    z-index: 20;
    position: fixed;
        right: 5%;
        top: 5%;
    &__activate{
        border-radius: 50%;
        outline: none;
        border: none;
        position: absolute;
        right: 0;
        top: 0;
        width: 2rem;
        height: 2rem;
        color:$text;
        background-image: url("../../assets/hamburger-menu-closed.svg");
        background-size:contain;
        &--open{
            background-image: url("../../assets/hamburger-menu-open.svg");
            background-position:center;
        background-size:fill;
        }
        
    }
    &__panel{
        height: 80vh;
        background-color: $foreground;
        border: 1px solid $divider;
        display:flex;
        flex-direction: column;
        row-gap: 1rem;
        padding: 1rem;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5 );
        border-radius: 20px;
    }
    &__link{
        padding: 0.5rem;
        background-color: grey;
        border-radius: 4px;
        text-decoration: none;
    }
    &__link:hover{
        background-color: darkgray;
    }
}