@use '../../styles/partials.scss' as *;
@use '../../styles/animations.scss' as *;


.skill{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.skill__title{
    font-weight: 400;
}
.skill__dropdown{
    animation-name: dropdown;
    animation-duration: 1s;
    overflow: hidden;
    font-size: smaller;
}

.skill__chevron{
    transform: rotate(270deg);
    width:0.75rem;
    height: 0.75rem;
    background-color: rgba(0,0,0,0);
    border:none;
    outline:none;
    background-image: url("../../assets/down-chevron.svg");
    background-position: center;
    background-size: cover;
    @include tablet{
        height:1rem
    }
    @include desktop{
        height:1.5rem
    }
}
.skill__chevron--clicked{
    transition: 0.5s;
    transform: rotate(360deg);
}
.skill__title{
    margin: 0.5rem 0;
}