.skill{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.skill__title{
    font-weight: 400;
}
.skill__dropdown{
    animation-name: slidein;
    animation-duration: 1s;
    overflow: hidden;
}
@keyframes slidein {
    from {
       max-height: 0;
    } to {
        // This just needs to be an arbitrarily high value
      max-height: 700px;
    }
}
.skill__chevron{
    transform: rotate(270deg);
    width:12px;
    height: 12px;
    background-color: rgba(0,0,0,0);
    border:none;
    outline:none;
    background-image: url("../../assets/down-chevron.svg");
    background-position: center;
    background-size: cover;
}
.skill__chevron--clicked{
    transition: 0.5s;
    transform: rotate(360deg);
}
.skill__title{
    margin: 0.5rem 0;
}