@use '../../styles/partials' as *;
@use '../../styles/colors' as *;

.spoiler{
    position: relative;
   @include tablet{
    width:50%;
   }
    &__image{     
        width:100%;
        
        &--filter{
            mask:linear-gradient(black, black);
            filter:blur(25px);
        }
    }
    &__label{
        color:black;
        position: absolute;
        text-align: center;
        top:45%;
        right:40%;
        margin: 0;
    }

}