@use '../../styles/partials' as *;
@use '../../styles/colors' as *;
@use '../../styles/animations' as *;


.skillcard{
    &--slideleft{
        animation-name: slidein;
        animation-duration: 1s;
        @include tablet{
            animation-name: fadein;
            animation-duration: 1s;
        }
    }
    &--slideright{
        animation-name: slideright;
        animation-duration: 1s;
        @include tablet{
            animation-name: fadein;
        }
    }
    &--short{
        @include tablet{
            animation-duration: 2s;
        }
    }
    &--medium{
        @include tablet{
            animation-duration: 3s;
        }    }
    &--long{
        @include tablet{
            animation-duration: 4s;
        }    }
}
.projectCard{
    &--fadeup{
        animation-name: fadeup;
        animation-duration: 1s;
    }
}
