@use '../../styles/partials' as *;
@use '../../styles/colors' as *;
.MuiMenu-paper{
    background-color: $foreground;
    color:$text;
    border: 1px solid $divider;
    border-radius: 20px;
}
.sidebar{
    z-index: 20;
    position: fixed;
        right: 5%;
        top: 5%;
    &__activate{
        border-radius: 50%;
        outline: none;
        border: none;
        position: absolute;
        right: 0;
        top: 0;
        width: 2rem;
        height: 2rem;
        color:$text;
        
    }
    &__dropdown{
        background-color: $foreground;
        color:$text;
        border: 1px solid $divider;
        border-radius: 20px;
    }
    &__link{
        padding: 0.5rem;
        background-color: grey;
        border-radius: 4px;
        text-decoration: none;
    }
    &__link:hover{
        background-color: darkgray;
    }
}